.lottie-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -75px);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.lottie-animation.fade-out {
    opacity: 0;
}

.lottie-animation .lottie-animation-content {
    width: 78%;
    height: 78%;
}

@media (max-width: 768px) {
    .lottie-animation {
        transform: translate(0px, 0px);
    }

    .lottie-animation .lottie-animation-content {
        transform: translate(0px, 0px);
        width: 89%;
        height: 89%;
    }
  }