/* General styles */
body {
  background-image: url('/public/images/desktop-background.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-image: url('/public/images/mobile-background.webp');
    background-position: top; /* Adjust if needed */
  }
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  color: #ffffff;
}

@media (max-width: 768px) {
  h1, h2, h3 {
    font-size: 4vw; /* Larger text for mobile */
  }
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

input[type="number"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

/* App container */
.App {
  text-align: center;
  padding: 30px;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 10px; /* Space between the dropdowns */
  z-index: 10; /* Ensures the settings container is on top of other elements */
}

/* Container for centering the buttons */
.button-container {
  position: absolute;
  top: 30%; /* Adjust this value based on the position of the circle in your background */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5; /* Ensure it’s above the background but below the settings */
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .button-container {
    top: 50%; /* Adjust for mobile */
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Additional styling for score information */
.score-info {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

/* Background overlay */
.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: -1; /* Place behind content */
}

@media (max-width: 768px) {
  .App {
    padding: 15px;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .score-info {
    font-size: 3vw; /* Smaller font on mobile */
  }
}